{% if shopping_lists %}
    <ul>
    {% for shopping_list in shopping_lists %}
        <li><a href="{% url 'list:items' shopping_list.id %}">{{ shopping_list.name }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No lists found</p>
{% endif %}